.hero-section {
  display: flex;
  flex-wrap: row;
  align-items: center;
  justify-content: space-around;
  background: firebrick;
  padding: 20%;
}

h1 {
  font-size: 100px;
  color: white;
  margin: 0;
}
h2 {
    font-size: 70px;
    color: red;
}
h3 {
    font-size: 80px;
    color: black;
}
body {
    height: 100vh;
    width: 100vm;
    font-size: larger;
    margin: 0;
}

.texte {
    font-size: 40px;
    color: white;
}

.burger{
  max-height: 500px;
}

.map-section {
  text-align: center;
  background-color: orange;
  color: white;
  padding: 20px 10px;
  
}

.map-section h2 {
  font-size: 50px;
}

.socials {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.socials img {
  width: 100px;
  height: 100px;
}


.milieu {
    color: black;
    font-size: 60px;
}

.gauche {
    font-size: 40px;
    color: black;
}
.droite {
  flex-wrap: wrap;
    font-size: 40px;
    color: black;
}
.info-section {
  display: flex;
  justify-content: space-between;
  padding: 3%;
  background-color: beige;
  color: black;
}

@media screen and (max-width: 768px) {
  .hero-section{
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
  }
  .gauche {
    flex-wrap: wrap;
  }
  .droite1 img {
    width: 100%;
    height: auto;
    max-width: 500px; 
    display: block;
    margin: 0;
}

h1 {
  font-size: 60px;
}


.info-section {
  flex-wrap: wrap;
}
.map-section {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
}
.socials {
  display: flex;
  justify-content: center;
}
}
